@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Amatic SC", cursive;
  min-height: 100vh;
}

h1 {
  font-weight: 700;
  font-size: 50px;
}

p {
  font-weight: 400;
  font-size: 24px;
}

#canvas {
  background: #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#player_block {
  width: 100px;
  height: 30px;
}
